*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial;
}


body{
height:100vh;
overflow:hidden;
background:linear-gradient(135deg,#020617,#2563eb);
color:white;
}


.desktop{
height:100vh;
}


header{
height:60px;
background:#0008;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
}


.icons{
display:flex;
gap:30px;
padding:40px;
}


.icon{
width:90px;
height:90px;
background:#ffffff20;
border-radius:20px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:35px;
cursor:pointer;
}


.icon span{
font-size:15px;
}


#window{

display:none;

position:absolute;
top:150px;
left:250px;

width:500px;
height:300px;

background:#111c;
border-radius:20px;

box-shadow:0 0 30px black;

}


.title{

background:#2563eb;
padding:12px;

border-radius:20px 20px 0 0;

display:flex;
justify-content:space-between;

cursor:grab;

}


.title button{

background:red;
color:white;

border:none;

padding:5px;

border-radius:5px;

}


#content{

padding:30px;

font-size:20px;

}


#startmenu{

display:none;

position:absolute;

bottom:60px;

left:10px;

width:220px;

background:#111d;

padding:20px;

border-radius:15px;

}


#startmenu p{

padding:10px;

cursor:pointer;

}


#startmenu p:hover{

background:#2563eb;

border-radius:10px;

}


.taskbar{

position:absolute;

bottom:0;

height:60px;

width:100%;

background:#000b;

display:flex;

align-items:center;

padding:10px;

gap:20px;

}


input{

padding:10px;

border-radius:20px;

border:none;

}